@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

:root{
	--body: #1D232A;
	--header: #1D232A;
	--header-mobile: #15191C;
	--side-menu: #15191C;
	--card: #2C343A;
	--font: #FFFFFF;
	--font-alt: #95999C;
	--links: #0480DC;
	--button: #0480DC;
	--shadow: `0px 4px 4px rgba(0, 0, 0, 0.16)`;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', 'icones', sans-serif;
}