body{
    background-color: var(--body);
    color: var(--font);
}

.cabecalho{
    width: 100%;
    background-color: var(--header-mobile);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100000;
}

.cabecalho__menu, .cabecalho__notificacao{
    background: transparent;
    border: none;
    outline: none;
    color: var(--font);
    font-size: 1.5rem;
}
.cabecalho__menu i::before{
    content: '\e904';
}

.cabecalho__notificacao i::before{
    content: '\e906';
}

.cabecalho__img{
    width: 40px;
}
.menu{
    display: flex;
    flex-direction: column;
    background-color: var(--side-menu);  
    width: 75vw;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    left: -100%;
    opacity: 0;
    transition: all .3s ease-in;
}
.menu--active{
    left: 0;
    opacity: 1;
}

.menu__img{
    width: 118px;
    align-self: center;
    padding: 1rem;
}

.menu__lista{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    width: 100%;
}
.menu__item{
    width: 100%;
}
.menu__link{
    height: 64px;
    width: 100%;
    color: var(--font-alt);
    background-color: var(--side-menu);
    text-decoration: none;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    cursor: pointer;
    transition: all .3s ease-in;
    cursor: pointer;
}
.menu__link::before{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
}

.menu__link--home::before{
    content: '\e902';
}
.menu__link--videos::before{
    content: '\e90e';
}
.menu__link--places::before{
    content: '\e909';
}
.menu__link--peoples::before{
    content: '\e903';
}
.menu__link--shop::before{
    content: '\e900';
}
.menu__link--pictures::before{
    content: '\e90a';
}
.menu__link--active{
    color: var(--font);
    padding-left: 1.5rem;
    border-left: .5rem solid var(--font);
}
.menu__link:hover{
    filter: brightness(.9);
}
.principal{
    padding: 1.5rem 1rem;
}
.principal__titulo{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.cartao{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--card);
}
.cartao__img{
    width: inherit;
}
.cartao__conteudo{
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}
.cartao__destaque{
    grid-column: span 2;
}
.cartao__titulo{
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}
.cartao__perfil{
    color: var(--font-alt);
    font-size: .9rem;
    grid-column: span 2;
}
.cartao__info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    color: var(--font-alt);
}
.cartao__info--tempo::before{
    content: '\e90c';
}
.cartao__info--visualizacao::before{
    content: '\e90f';
}
.cartao__botao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: var(--button);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: .9rem;
    border: none;
    color: var(--font);
    outline: none;
}
.cartao__botao--play::before{
    content: '\e90b';
    font-size: 1.2rem;
}
.cartao__botao--destaque{
    width: 100%;
    grid-column: span 2;
}